/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/
.sectionBorder{
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;    border-radius: 8px;
}

.hColor{
    /*bg-color:#232121;*/
    background-color:#232121 !important;

}

.center{
    text-align: center;
}